<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <h1>Registro de Usuario</h1>
    
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{ serializer.as_p }}

        <label for="id_name">Name:</label>
        <input type="text" id="id_name" name="name" placeholder="Insert your name" required>
        <br>
        <label for="id_lastName">Last Name:</label>
        <input type="text" id="id_lastName" name="last_name" placeholder="Insert your last name" required>
        <br>
        <label for="id_age">Age:</label>
        <input type="text" id="id_age" name="age" placeholder="Insert your age" required>
        <br>
        <label for="id_number">Number Phone:</label>
        <input type="text" id="id_number" name="phone_number" placeholder="Insert your number" required>
        <br>
        <label for="id_email">Email:</label>
        <input type="text" id="id_email" name="email" placeholder="Insert your email" required>

        <input type="submit" value="Registrarse">
    </form>
</body>
</html>
